<p id="notice"><%= notice %></p>

<h1>Listing Temps</h1>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Place</th>
        <th>Temp on</th>
        <th>Average</th>
        <th>Max</th>
        <th>Min</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @temps.each do |temp| %>
        <tr>
          <td><%= temp.place %></td>
          <td><%= temp.temp_on %></td>
          <td><%= temp.average %></td>
          <td><%= temp.max %></td>
          <td><%= temp.min %></td>
          <td class="text-center"><%= link_to 'Show', loose_hashed_url(temp_path(temp)), class: 'btn btn-success' %></td>
          <td class="text-center"><%= link_to 'Edit', loose_hashed_url(edit_temp_path(temp)), class: 'btn btn-primary' %></td>
          <td class="text-center"><%= link_to 'Destroy', loose_hashed_url(temp_path(temp)), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

<br>

<div class="text-center">
  <%= link_to 'New Temp', loose_hashed_url(new_temp_path), class: "btn btn-info" %>
</div>
