<p id="notice"><%= notice %></p>

<h1>Listing Places</h1>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Cd</th>
        <th>Name</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @places.each do |place| %>
        <tr>
          <td><%= place.cd %></td>
          <td><%= place.name %></td>
          <td class="text-center"><%= link_to 'Show', loose_hashed_url(place_path(place)), class: 'btn btn-success' %></td>
          <td class="text-center"><%= link_to 'Edit', loose_hashed_url(edit_place_path(place)), class: 'btn btn-primary' %></td>
          <td class="text-center"><%= link_to 'Destroy', loose_hashed_url(place_path(place)), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

<br>

<div class="text-center">
  <%= link_to 'New Place', loose_hashed_url(new_place_path), class: "btn btn-info" %>
</div>
